<%= form.fields_for :open_street_map, record.open_street_map do |fai| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="capacity">Anzahl Stellplätze</label>
        <%= fai.number_field :capacity, class: "form-control" %>
        <p class="hint">
          Value: number
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:capacity">https://wiki.openstreetmap.org/wiki/Key:capacity</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="capacity_charging">Anzahl Stellplätze mit Lademöglichkeit</label>
        <%= fai.text_field :capacity_charging, class: "form-control" %>
        <p class="hint">
          Value: yes|no|number
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:capacity:charging">https://wiki.openstreetmap.org/wiki/Key:capacity:charging</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="capacity_disabled">Anzahl Behindertenparkplätze</label>
        <%= fai.text_field :capacity_disabled, class: "form-control" %>
        <p class="hint">
          Value: yes|no|number
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:capacity:disabled">https://wiki.openstreetmap.org/wiki/Key:capacity:disabled</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="fee">Gebühren</label>
        <%= fai.select :fee, options_for_select( ["yes", "no"], fai.object.try(:fee)), { include_blank: true }, class: "form-control" %>
        <p class="hint">
          Value: yes|no
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:fee">https://wiki.openstreetmap.org/wiki/Key:fee</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="lit">Beleuchtung</label>
        <%= fai.select :lit, options_for_select( ["yes", "no"], fai.object.try(:lit)), { include_blank: true }, class: "form-control" %>
        <p class="hint">
          Value: yes|no
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:lit">https://wiki.openstreetmap.org/wiki/Key:li</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="parking">Parkplatz</label>
        <%= fai.select :parking, options_for_select(
                                   [["Gewöhnlicher ebenerdiger Parkplatz", "surface"], ["Parkbuchten/Parktaschen am Straßenrand","street_side"], ["Parkstreifen auf einer Straße","lane"], ["Layby - Rastplatz","layby"], ["Tiefgarage","underground"], ["Parkhaus mit mehreren Parkebenen","multi-storey"], ["Parken in einer Ebene auf einem Dach","rooftop"], ["Carport","carports"], ["Garage Boxes - Einstöckige Gebäude für einzelne Autos","garage_boxes"], ["Sheds - Private Bauten für Fahrzeuge","sheds"]],
                                   fai.object.try(:parking)
                                 ), { include_blank: true }, class: "form-control" %>
        <p class="hint">
          Value: string
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:parking">https://wiki.openstreetmap.org/wiki/Key:parking</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="shelter">Überdachung</label>
        <%= fai.select :shelter, options_for_select( ["yes", "no"], fai.object.try(:shelter)), { include_blank: true }, class: "form-control" %>
        <p class="hint">
          Value: yes|no
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:shelter">https://wiki.openstreetmap.org/wiki/Key:shelter</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="surface">Oberfläche</label>
        <%= fai.text_field :surface, class: "form-control" %>
        <p class="hint">
          Value: string
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:surface">https://wiki.openstreetmap.org/wiki/Key:surface</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="utilization">Auslastung</label>
        <%= fai.text_field :utilization, class: "form-control" %>
        <p class="hint">
          Value: string, "häufig bereits morgens überlastet"; "nur selten ausgelastet"
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:utilization">https://wiki.openstreetmap.org/wiki/Key:utilization</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="website">Website</label>
        <%= fai.text_field :website, class: "form-control" %>
        <p class="hint">
          Value: string
          <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:website">https://wiki.openstreetmap.org/wiki/Key:website</a>
        </p>
      </div>
    </div>
  </div>
<% end %>
